[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#pyopenssl = ">=17.5.0"
ansible = "==2.9.3"
oci = "==2.10.0"

[dev-packages]

[requires]
python_version = "3.6.8"
