[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#pyopenssl = ">=17.5.0"
ansible = "==2.7.2"
oci = "==2.1.1"

[dev-packages]

[requires]
python_version = "3.6.5"
