variable "tenancy_ocid" {
  default = "ocid1.tenancy.oc1.."
}

variable "user_ocid" {
  default = "ocid1.user.oc1.."
}

variable "fingerprint" {
  default = "..."
}

variable "compartment_ocid" {
  default = "ocid1.compartment.oc1.."
}

variable "subnet_id" {
  default = "ocid1.subnet.oc1."
}

variable "availability_domain" {
  default = "..."
}
