variable "tenancy_ocid" {
  default = "ocid1.tenancy.oc1.."
}

variable "user_ocid" {
  default = "ocid1.user.oc1.."
}

variable "fingerprint" {
  default = "..."
}

variable "compartment_ocid" {
  default = "ocid1.compartment.oc1.."
}

variable "availability_domains" {
  type = "list"

  default = ["...-AD-1", "...-AD-2", "...-AD-3"]
}

variable "subnet_ids" {
  type = "list"

  default = [
    "ocid1.subnet.oc1...",
    "ocid1.subnet.oc1...",
    "ocid1.subnet.oc1...",
  ]
}